# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @scholzj @ppatierno @tombentley @Frawless @samuel-hawker @sknot-rh @PaulRMellor @im-konge @see-quick @katheris @tinaselenge 
